{% extends 'base.html' %}
{% load static %}
{% block content %}
<form method="POST">
  {% csrf_token %}
  <h2 style="margin-top: 0px; justify-self: center;">Edit Review for {{ review.book.title }}</h2>

  <label for="{{ form.content.id_for_label }}">Review:</label><br>
  {{ form.content }}
  {% if form.content.errors %}
    <div class="error">{{ form.content.errors.0 }}</div>
  {% endif %}

  <br><br>

  <label>Rating:</label>
  <div class="star-rating">
    {% for i in "54321" %}
      <input type="radio" name="rating" id="star{{ i }}" value="{{ i }}"
             {% if form.rating.value|stringformat:"s" == i %} checked {% endif %}>
      <label for="star{{ i }}">&#9733;</label>
    {% endfor %}
  </div>
  {% if form.rating.errors %}
    <div class="error">{{ form.rating.errors.0 }}</div>
  {% endif %}

  <br>
  <div id="edit-form-footer">
    <button type="submit">Save Changes</button>
    <a href="{% url 'list_review' review.book.id %}">Back to Your Reviews</a>
  </div>
</form>
{% endblock %}
